<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <style type="text/css">
        span {
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>
</head>


<body>

<div align="center">


    <h2>Registration Succeeded!</h2>

    <h2>First Name: <span th:text="${mentor.firstName}"></span></h2>

    <h2>Last Name: <span th:text="${mentor.lastName}"></span></h2>

    <h2>Email: <span th:text="${mentor.email}"></span></h2>

    <h2>Gender: <span th:text="${mentor.gender}"></span></h2>

    <h2>Graduated: <span th:text="${mentor.graduated}"></span></h2>

    <h2>Batch: <span th:text="${mentor.batch}"></span></h2>



</div>
</body>
</html>